*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: #404C1A;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1{
   margin-bottom: 30px; 
   color: black;
}





.checkButton{
    background-color: none;
    color: black;

}

button:hover { background-color: #979796;
}

input{
    margin-bottom: 12px;
}


body{
    background-color: white;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}

input{
margin-right: 10px;
padding: 10px 15px;

font-size: 16px;
border-radius: 30px;
background-color: #181a1b ;
border-style: none;

}
input::placeholder{
    color: rgb(231, 224, 224);
opacity: 1;
}

Button{
    padding: 15px;
    border-radius: 50%;
    background-color: #181a1b;
    color: white;
    cursor: pointer;
    border-style: none;

}



.buttons {
    padding: 10px 14px;
    border-radius: 30px;
    margin-left:10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-style: none;
}

i {
    margin-right: 5px; /* Adjust the value as needed */
    color: white;
    
}

.taskList{
    background-color: linear-gradient(135deg, #6BF216, #5DBD14);
    margin: 0px 25px;
    min-width: 340px;
    max-width: 1200px;
     background-color: #ffffff; /* White background */ border-radius: 8px; /* Rounded corners */ box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Box shadow for 3D effect */  /* Padding inside the task list */ 
}
